.box-styles() when not (@MODULE-Box) { }
.box-styles() when (@MODULE-Box) {

/* =========================================================================
// BOX
// =======================================================================*/

.box {
    display: block;
    .margin (0, 0, @TYPE-LineHeight, 0);
    .clearfix ();
}

.box-header {
    display: block;
    background-color: @BOX-HeaderBgColor;
    .border-radius-custom (@STYLE-BorderRadius, @STYLE-BorderRadius, 0,  0);
}

.box-title {
    line-height: 1;
    color: @BOX-HeaderTextColor;
}

.box-body {
    display: block;
    background-color: @BOX-BodyBgColor;
}

.box-footer {
    display: block;
    background-color: @BOX-FooterBgColor;
    .border-radius-custom (0, 0, @STYLE-BorderRadius, @STYLE-BorderRadius);
}

.box-header,
.box-body,
.box-footer {
    .padding (@TYPE-FontSize);
    margin-bottom: 0;
    :last-child {
        margin-bottom: 0;
    }
}

} .box-styles();