.browsehappy-styles() when not (@MODULE-Browsehappy) { }
.browsehappy-styles() when (@MODULE-Browsehappy) {

/* =========================================================================
// BROWSEHAPPY
// =======================================================================*/

.browsehappy {
    margin: 0;
    padding: 1em 0;
    background-color: @BROWSEHAPPY-BgColor;
    color: @BROWSEHAPPY-Color;
    font-weight: bold;
    text-align: center;
    a {
        color: @BROWSEHAPPY-Color;
    }
}

} .browsehappy-styles();