.icon-styles() when not (@MODULE-Icon) { }
.icon-styles() when (@MODULE-Icon) {

/* =========================================================================
// ICON
// TODO: svg icons
// =======================================================================*/

// BASE
// ----------------------------------------------------

[class*='icon-'] {
    .inline-block();
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .font-size (32);
}

// ICONS
// ----------------------------------------------------

.icon-menu:before {
    content: "\2261";
}

.icon-tel:before {
    content: "\260E";
}

.icon-star:before {
    content: "\2605";
}

.icon-email:before {
    content: "\2709";
}

.icon-tick:before {
    content: "\2713";
}

.icon-cross:before {
    content: "\2715";
}

.icon-heart:before {
    content: "\2665";
}

.icon-star:before {
    content: "\2605";
}

.icon-arrow-left:before {
    content: "\2190";
}

.icon-arrow-left:before {
    content: "\2190";
}

.icon-arrow-up:before {
    content: "\2191";
}

.icon-arrow-right:before {
    content: "\2192";
}

.icon-arrow-down:before {
    content: "\2193";
}

.icon-add:before  {
    content: "\271A";
}

.icon-edit:before  {
    content: "\270E";
}

.icon-pound:before  {
    content: "\00A3";
}

.icon-dollar:before  {
    content: "\0024";
}


} .icon-styles();