.overlay-styles() when not (@MODULE-Overlay) { }
.overlay-styles() when (@MODULE-Overlay) {

/* =========================================================================
// OVERLAY
// =======================================================================*/

// BASE
// ----------------------------------------------------

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #444;
    background: rgba(0,0,0,0.7);
    overflow: auto; // If less than the height of the browser

    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay:target,
.overlay-open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.overlay-content {
    position: relative;
    margin: 2em 0 1em 0;
    padding: 1.5em;
    background-color: #FFF;

    .icon-cross {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        color: @TYPE-FontColor;
        .font-size (22);
    }
}

} .overlay-styles();