        <!-- TEMPLATE END -->

        </main>

        <footer class="wrapper-footer" role="contentinfo">

            <div class="grid">
                <div class="span-12">

                    <p><small>&copy; Copyright Information</small></p>
                
                </div> 
            </div>

        </footer>

    </div><!-- End .wrapper-all -->

    <!-- JavaScript -->
    <script data-main="../js/main" src="../js/libs/requirejs/require.js"></script>
    <!-- Uncomment for production -->
    <!-- <script src="../js/main.min.js"></script>-->

    <!--[if lte IE 8]>
    <script type="text/javascript" src="../js/libs/selectivizr/selectivizr.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <!-- <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->

</body>
</html>