---
title: Contact
layout: content/layouts/examples.hbs
navContactActive: true
---
        <div class="grid">

            <div class="col-8-12">

                <h2>Contact Us</h2> 

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</p>

                <form id="form-o-matic" method="post" class="form c">
                    
                    <p class="form-row">
                        <label for="name">Name:</label>
                        <input id="name" type="text" autocomplete="on" placeholder="Name" required="required" class="input-large"/>
                    </p>

                    <p class="form-row">
                        <label for="email">Email:</label>
                        <input id="email" type="email" autocomplete="on" placeholder="name@example.com" class="input-large" />
                    </p>

                    <p class="form-row">
                        <label for="subject">Subject:</label>
                        <input id="subject" type="text" autocomplete="on" placeholder="Subject" class="input-xlarge" />
                    </p>

                    <p class="form-row">
                        <label for="message">Comment:</label>
                        <textarea id="message" rows="5" class="input-xlarge"></textarea>
                    </p>

                    <p class="form-row">
                        <button type="submit" id="submit">Submit</button>
                    </p>

                </form> 

            </div>

            <div class="col-4-12">
                <h2>Map</h2>
                <div id="map-canvas" class="map map-small"></div>
            </div>

        </div>