/* ==========================================================================
// MAIN - SITENAME
// =========================================================================*/
/* ==========================================================================
// NORMALIZE
// Reference: http://github.com/necolas/normalize.css
// =========================================================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
.ie7 audio,
.ie7 canvas,
.ie7 video {
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  min-height: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  background-color: #ffffff;
}
::-moz-selection {
  background: #639aff;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #639aff;
  color: #ffffff;
  text-shadow: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #0000ee;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:visited {
  color: #2222ff;
}
a:hover {
  color: #000088;
}
a:focus {
  outline: thin dotted;
  color: #000022;
}
a:active {
  color: #000088;
}
a:hover,
a:active {
  outline: 0;
}
ul,
ol,
menu {
  margin: 24px 0px 24px 40px;
  margin: 1.5rem 0rem 1.5rem 2.5rem;
  padding: 0px 0px 0px 40px;
  padding: 0rem 0rem 0rem 2.5rem;
}
dd {
  margin: 0px 0px 0px 40px;
  margin: 0rem 0rem 0rem 2.5rem;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: auto\9;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
// GRID
// =========================================================================*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
  position: relative;
}
@media only screen and (min-width: 48em) {
  .grid {
    max-width: 61.25em;
    margin: 0 auto;
  }
  [class*='col-'] {
    float: left;
    padding: 0px 10px 0px 10px;
    padding: 0rem 0.625rem 0rem 0.625rem;
    margin: 0;
  }
  .col-1 {
    width: 100%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-2-4 {
    width: 50%;
  }
  .col-3-4 {
    width: 75%;
  }
  .col-1-5 {
    width: 20%;
  }
  .col-2-5 {
    width: 40%;
  }
  .col-3-5 {
    width: 60%;
  }
  .col-4-5 {
    width: 80%;
  }
  .col-1-6 {
    width: 16.66666666666667%;
  }
  .col-2-6 {
    width: 33.33333333333333%;
  }
  .col-3-6 {
    width: 50%;
  }
  .col-4-6 {
    width: 66.66666666666667%;
  }
  .col-5-6 {
    width: 83.33333333333333%;
  }
  .col-1-7 {
    width: 14.28571428571429%;
  }
  .col-2-7 {
    width: 28.57142857142857%;
  }
  .col-3-7 {
    width: 42.85714285714286%;
  }
  .col-4-7 {
    width: 57.14285714285714%;
  }
  .col-5-7 {
    width: 71.42857142857143%;
  }
  .col-6-7 {
    width: 85.71428571428571%;
  }
  .col-1-8 {
    width: 12.5%;
  }
  .col-2-8 {
    width: 25%;
  }
  .col-3-8 {
    width: 37.5%;
  }
  .col-4-8 {
    width: 50%;
  }
  .col-5-8 {
    width: 62.5%;
  }
  .col-6-8 {
    width: 75%;
  }
  .col-7-8 {
    width: 87.5%;
  }
  .col-1-12 {
    width: 8.333333333333333%;
  }
  .col-2-12 {
    width: 16.66666666666667%;
  }
  .col-3-12 {
    width: 25%;
  }
  .col-4-12 {
    width: 33.33333333333333%;
  }
  .col-5-12 {
    width: 41.66666666666667%;
  }
  .col-6-12 {
    width: 50%;
  }
  .col-7-12 {
    width: 58.33333333333333%;
  }
  .col-8-12 {
    width: 66.66666666666667%;
  }
  .col-9-12 {
    width: 75%;
  }
  .col-10-12 {
    width: 83.33333333333333%;
  }
  .col-11-12 {
    width: 91.66666666666667%;
  }
}
@media only screen and (min-width: 48em) and (max-width: 62.5em) {
  .grid {
    max-width: 100%;
    margin: 0px 10px 0px 10px;
    margin: 0rem 0.625rem 0rem 0.625rem;
  }
}
@media only screen and (min-width: 48em) and (max-width: 61.1875em) {
  .col-tablet-1 {
    width: 100%;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
  .col-tablet-1-2 {
    width: 50%;
  }
  .col-tablet-1-3 {
    width: 33.33333333333333%;
  }
  .col-tablet-2-3 {
    width: 66.66666666666667%;
  }
  .col-tablet-1-4 {
    width: 25%;
  }
  .col-tablet-2-4 {
    width: 50%;
  }
  .col-tablet-3-4 {
    width: 75%;
  }
  .col-tablet-1-5 {
    width: 20%;
  }
  .col-tablet-2-5 {
    width: 40%;
  }
  .col-tablet-3-5 {
    width: 60%;
  }
  .col-tablet-4-5 {
    width: 80%;
  }
  .col-tablet-1-6 {
    width: 16.66666666666667%;
  }
  .col-tablet-2-6 {
    width: 33.33333333333333%;
  }
  .col-tablet-3-6 {
    width: 50%;
  }
  .col-tablet-4-6 {
    width: 66.66666666666667%;
  }
  .col-tablet-5-6 {
    width: 83.33333333333333%;
  }
  .col-tablet-1-7 {
    width: 14.28571428571429%;
  }
  .col-tablet-2-7 {
    width: 28.57142857142857%;
  }
  .col-tablet-3-7 {
    width: 42.85714285714286%;
  }
  .col-tablet-4-7 {
    width: 57.14285714285714%;
  }
  .col-tablet-5-7 {
    width: 71.42857142857143%;
  }
  .col-tablet-6-7 {
    width: 85.71428571428571%;
  }
  .col-tablet-1-8 {
    width: 12.5%;
  }
  .col-tablet-2-8 {
    width: 25%;
  }
  .col-tablet-3-8 {
    width: 37.5%;
  }
  .col-tablet-4-8 {
    width: 50%;
  }
  .col-tablet-5-8 {
    width: 62.5%;
  }
  .col-tablet-6-8 {
    width: 75%;
  }
  .col-tablet-7-8 {
    width: 87.5%;
  }
  .col-tablet-1-12 {
    width: 8.333333333333333%;
  }
  .col-tablet-2-12 {
    width: 16.66666666666667%;
  }
  .col-tablet-3-12 {
    width: 25%;
  }
  .col-tablet-4-12 {
    width: 33.33333333333333%;
  }
  .col-tablet-5-12 {
    width: 41.66666666666667%;
  }
  .col-tablet-6-12 {
    width: 50%;
  }
  .col-tablet-7-12 {
    width: 58.33333333333333%;
  }
  .col-tablet-8-12 {
    width: 66.66666666666667%;
  }
  .col-tablet-9-12 {
    width: 75%;
  }
  .col-tablet-10-12 {
    width: 83.33333333333333%;
  }
  .col-tablet-11-12 {
    width: 91.66666666666667%;
  }
}
@media only screen and (max-width: 47.9375em) {
  .grid,
  .row {
    margin: 0px 5px 0px 5px;
    margin: 0rem 0.3125rem 0rem 0.3125rem;
  }
  .grid > :last-child,
  .row > :last-child {
    margin-bottom: 0;
  }
  [class*='col-'] {
    clear: left;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    padding: 0px 5px 0px 5px;
    padding: 0rem 0.3125rem 0rem 0.3125rem;
  }
  [class*='col-mobile-'] {
    float: left;
    clear: none;
  }
  .col-mobile-1-2 {
    width: 50%;
  }
  .col-mobile-1-3 {
    width: 33.33333%;
  }
  .col-mobile-2-3 {
    width: 66.66666666666667%;
  }
}
.grid-nogutter {
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
}
.grid-nogutter [class*='col-'] {
  padding: 0;
}
.grid-example [class*='col-'] {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.grid-example [class*='col-'] p {
  padding: 20px 0px 20px 0px;
  padding: 1.25rem 0rem 1.25rem 0rem;
  background-color: grey;
  text-align: center;
  margin-bottom: 0;
}
.grid-thumbnails .thumbnail {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  .grid-thumbnails [class*='col-'] {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
}
/* =========================================================================
// ALERT
// =======================================================================*/
.alert {
  display: block;
  position: relative;
  padding: 16px;
  padding: 1rem;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-info {
  background-color: #d9edf7;
  color: #3a87ad;
  border-color: #8cabbb;
}
.alert-error {
  background-color: #f2dede;
  color: #b94a48;
  border-color: #c78e8d;
}
.alert-success {
  background-color: #dff0d8;
  color: #468847;
  border-color: #748b74;
}
/* =========================================================================
// BOX
// =======================================================================*/
.box {
  display: block;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
  *zoom: 1;
}
.box:before,
.box:after {
  content: "";
  display: table;
}
.box:after {
  clear: both;
}
.box-header {
  display: block;
  background-color: #8d8d8d;
}
.box-header-title {
  line-height: 1;
  color: #222222;
}
.box-body {
  display: block;
  background-color: #c0c0c0;
  color: #222;
}
.box-footer {
  display: block;
  background-color: #c0c0c0;
}
.box-header,
.box-body,
.box-footer {
  padding: 16px;
  padding: 1rem;
  margin-bottom: 0;
}
.box-header :last-child,
.box-body :last-child,
.box-footer :last-child {
  margin-bottom: 0;
}
/* =========================================================================
// BREADCRUMBS
// =======================================================================*/
.breadcrumbs {
  display: block;
  margin-left: 0;
  padding: 0;
  *zoom: 1;
  list-style: none;
  font-size: 12px;
  font-size: 0.75rem;
}
.breadcrumbs:before,
.breadcrumbs:after {
  content: "";
  display: table;
}
.breadcrumbs:after {
  clear: both;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li:before {
  content: ">\0000a0";
}
.breadcrumbs li:first-child:before {
  content: "";
}
.breadcrumbs a {
  text-decoration: none;
  color: #222222;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs a.active,
.breadcrumbs span {
  color: #222222;
}
/* =========================================================================
// BUTTON
// =======================================================================*/
.button {
  display: block;
  color: #ffffff;
  background-color: #c05c3a;
  text-decoration: none;
  padding: 6px 24px 6px 24px;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.button:visited {
  color: #ffffff;
}
.button:hover {
  background-color: #99492e;
  color: #ffffff;
}
.button-alt {
  color: #222222;
  background-color: #cccccc;
}
.button-alt:visited {
  color: #222222;
}
.button-alt:hover {
  background-color: #b3b3b3;
  color: #222222;
}
.button-disabled {
  color: #ffffff;
  background-color: #d1d1d1;
  cursor: not-allowed;
}
.button-disabled:visited {
  color: #ffffff;
}
.button-disabled:hover {
  background-color: #d1d1d1;
  color: #ffffff;
}
.button-small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
}
.button-large {
  font-size: 18px;
  font-size: 1.125rem;
}
.button-full {
  display: block !important;
}
@media only screen and (min-width: 48em) {
  .button,
  .button-alt {
    display: inline-block;
  }
  .ie7 .button,
  .ie7 .button-alt {
    display: inline;
    zoom: 1;
  }
}
/* ==========================================================================
// FORM
// =========================================================================*/
.form {
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
.form-row {
  *zoom: 1;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
.form-row:before,
.form-row:after {
  content: "";
  display: table;
}
.form-row:after {
  clear: both;
}
label {
  cursor: pointer;
  display: block;
}
input {
  clear: left;
  display: block;
  max-width: 100%;
}
input,
textarea,
select {
  width: 100%;
  padding: 4px;
  border: 1px solid #888;
  color: #555;
}
input:focus,
textarea:focus,
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
button {
  display: block;
  color: #ffffff;
  background-color: #c05c3a;
  text-decoration: none;
  padding: 6px 24px 6px 24px;
  padding: 0.375rem 1.5rem 0.375rem 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
button:visited {
  color: #ffffff;
}
button:hover {
  background-color: #99492e;
  color: #ffffff;
}
:-moz-placeholder {
  color: #cccccc;
}
::-webkit-input-placeholder {
  color: #cccccc;
}
@media only screen and (min-width: 48em) {
  label {
    margin-top: 2px;
  }
  input,
  textarea,
  select {
    width: 40%;
  }
  .input-small {
    width: 15%;
  }
  .input-medium {
    width: 40%;
  }
  .input-large {
    width: 50%;
  }
  .input-xlarge {
    width: 75%;
  }
  .input-full {
    width: 100%;
  }
}
/* =========================================================================
// IMAGE
// =======================================================================*/
.image-bordered {
  padding: 4px;
  background-color: #FFF;
  border: 1px solid #CCC;
}
/* =========================================================================
// MAP
// =======================================================================*/
.map,
.map * {
  max-width: none;
}
.map {
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
  width: 100%;
  height: 500px;
}
.map-small {
  height: 250px;
}
/* ==========================================================================
// MEDIA OBJECT
// Source: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
// =========================================================================*/
.media {
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
  *zoom: 1;
}
.media:before,
.media:after {
  content: "";
  display: table;
}
.media:after {
  clear: both;
}
.media-content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media-image {
  float: left;
  margin: 0px 16px 0px 0px;
  margin: 0rem 1rem 0rem 0rem;
}
.media-image img {
  display: block;
}
.media-image-alt {
  float: right;
  margin: 0px 0px 0px 16px;
  margin: 0rem 0rem 0rem 1rem;
}
@media only screen and (max-width: 47.9375em) {
  .media .media-image {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
}
/* ==========================================================================
// NAVIGATION
// =========================================================================*/
.nav {
  *zoom: 1;
  margin: 0;
  background-color: #cccccc;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav li {
  list-style: none;
}
.nav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.nav li a:hover,
.nav li a.active {
  background-color: #b3b3b3;
  color: #ffffff;
}
@media only screen and (max-width: 47.9375em) {
  .nav li {
    display: block;
    border-bottom: 1px solid #999999;
  }
  .nav li:last-child {
    border-bottom: none;
  }
}
@media only screen and (min-width: 48em) {
  .nav li {
    display: inline;
    float: left;
    margin-left: 0;
    border-right: 1px solid #999999;
  }
  .nav-vertical {
    padding: 0;
  }
  .nav-vertical li {
    display: block;
    float: none;
    border-bottom: 1px solid #999999;
    border-right: none;
  }
  .nav-vertical :last-child {
    border-bottom: none;
  }
}
/* =========================================================================
// PAGINATION
// =======================================================================*/
.pagination {
  padding: 0;
  margin: 0px 0px 24px -8px;
  margin: 0rem 0rem 1.5rem -0.5rem;
  *zoom: 1;
  list-style: none;
}
.pagination:before,
.pagination:after {
  content: "";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination li {
  float: left;
  margin: 0px 0px 0px 8px;
  margin: 0rem 0rem 0rem 0.5rem;
}
.pagination a {
  float: left;
  padding: 2px 10px 2px 10px;
  padding: 0.125rem 0.625rem 0.125rem 0.625rem;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #c05c3a;
}
.pagination a:hover,
.pagination a.active {
  background-color: #99492e;
}
/* ==========================================================================
// TYPOGRAPHY
// =========================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: #99492e;
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizelegibility;
}
h1,
.alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
h2,
.beta {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333333333333;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
h3,
.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
h4,
.delta {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.1428571428571428;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
h5,
.epsilon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333333333333;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
h6,
.zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857142857142;
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
.title-primary {
  margin-bottom: 0;
}
p {
  margin: 0px 0px 24px 0px;
  margin: 0rem 0rem 1.5rem 0rem;
}
p:last-child {
  margin-bottom: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 0px 0px 24px 24px;
  margin: 0rem 0rem 1.5rem 1.5rem;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 24px 0px 24px 0px;
  margin: 1.5rem 0rem 1.5rem 0rem;
  padding: 0;
}
ins {
  background: #FF9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #FF0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace, serif;
  font-size: 16px;
  font-size: 1rem;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  display: block;
  padding: 16px;
  padding: 1rem;
}
code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  padding: 0 3px;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small,
.small {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
// WELL
// =========================================================================*/
.well {
  display: block;
  padding: 16px;
  padding: 1rem;
  margin: 0px 0px 24px 24px;
  margin: 0rem 0rem 1.5rem 1.5rem;
  background-color: #ebebeb;
}
/* ==========================================================================
// HELPERS
// =========================================================================*/
.c {
  *zoom: 1;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.c:after {
  clear: both;
}
.block,
.show {
  display: block;
}
.hide {
  display: none;
}
.invisible {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.visible {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.ir {
  font: 0/0 a;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.margin-bottom {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.margin-top {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.margin-none {
  margin: 0;
}
.padding-bottom {
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
.padding-top {
  padding-top: 24px;
  padding-top: 1.5rem;
}
.padding-none {
  padding: 0;
}
.show-desktop {
  display: inherit !important;
}
.hide-desktop,
.show-mobile,
.show-tablet {
  display: none !important;
}
@media only screen and (max-width: 47.9375em) {
  .show-mobile {
    display: inherit !important;
  }
  .hide-mobile,
  .show-desktop,
  .show-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 61.1875em) {
  .show-tablet,
  .hide-desktop {
    display: inherit !important;
  }
  .hide-tablet,
  .show-mobile,
  .show-desktop {
    display: none !important;
  }
}
/* ==========================================================================
// PRINT
// Adapted from the brilliant: Html5 Boilerplate (http://html5boilerplate.com/)
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* =========================================================================
// HEADER
// =======================================================================*/
.wrapper-header {
  position: relative;
  background: transparent url("/assets/img/grass-back.png") repeat-x 0 148%;
  overflow: hidden;
  padding: 24px 0px 10px 0px;
  padding: 1.5rem 0rem 0.625rem 0rem;
}
.wrapper-header .logo {
  display: block;
  margin-bottom: -9px;
  margin-bottom: -0.5625rem;
}
.wrapper-header .header-tagline {
  margin: 10px 0px 0px 0px;
  margin: 0.625rem 0rem 0rem 0rem;
}
@media only screen and (min-width: 48em) {
  .wrapper-header .buttons {
    position: absolute;
    top: -5px;
    right: 0;
  }
  .wrapper-header .wrapper-header-grass {
    background: transparent url("/assets/img/grass-front.png") repeat-x 0 100%;
    height: 37px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 47.9375em) {
  .wrapper-header {
    background-image: none;
  }
  .wrapper-header .button {
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
  }
}
/* =========================================================================
// PRIMARY
// =======================================================================*/
body {
  border-top: 5px solid #383c38;
}
.wrapper-primary {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  background-color: #F0F0F0;
}
/* =========================================================================
// FOOTER
// =======================================================================*/
.wrapper-footer {
  padding: 24px 0px 24px 0px;
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: #F0F0F0;
}
/* =========================================================================
// definition
// =======================================================================*/
.definition {
  background-color: #2E2E33;
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  border-top: 3px solid #212121;
  border-bottom: 3px solid #212121;
}
.definition-title {
  margin-bottom: 0;
  font-style: bolder;
  color: #FFF;
}
.definition-intro {
  font-weight: normal;
  font-style: italic;
}
@media only screen and (max-width: 47.9375em) {
  .definition-title {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
/* =========================================================================
// quickstart
// =======================================================================*/
.quickstart {
  padding: 24px 0px 24px 0px;
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: #46464e;
  color: #FFF;
}
.quickstart h2,
.quickstart a {
  color: #FFF;
}
.quickstart code {
  color: #222;
}
