/* ==========================================================================
// MAIN
// =========================================================================*/

/* ==========================================================================
// ALL
// =========================================================================*/

/* ==========================================================================
// RESET
// Reference: http://github.com/necolas/normalize.css
// =========================================================================*/

/* ==========================================================================
// Html5 Display
// =========================================================================*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* ==========================================================================
// Base
// =========================================================================*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  background-color: white;
}
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}
/* ==========================================================================
// Lists
// =========================================================================*/

ul,
ol {
  margin: 1.5em 0;
  padding: 0 0 0 2.5em;
}
dd {
  margin: 0 0 0 2.5em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
}
/*================= Navigation ==================*/

nav li a {
  display: block;
}
/* ==========================================================================
// Embeded Content
// =========================================================================*/

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: auto\9;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
/* Video/Flash */

object,
embed,
iframe,
video {
  max-width: 100%;
  height: auto;
}
/* Play nice with google maps */

#map,
.map {
  max-width: none;
}
/* ==========================================================================
// Forms
// =========================================================================*/

form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* ==========================================================================
// Tables
// =========================================================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* ==========================================================================
// TYPOGRAPHY
// =========================================================================*/

/* ==========================================================================
// FORMS
// =========================================================================*/

/* ==========================================================================
// OBJECTS
// NOT SURE THIS SHOULD BE CALLED THIS OR BE HERE
// =========================================================================*/

/*================= Media Object ===============*/

/* Source: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */

.media {
  margin-bottom: 1.5em;
  *zoom: 1;
}
.media:before,
.media:after {
  content: "";
  display: table;
}
.media:after {
  clear: both;
}
.media .media-content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media .media-image {
  float: left;
  margin-right: 1em;
}
.media .media-image img {
  display: block;
}
.media .media-image-alt {
  float: right;
  margin-left: 1em;
}
/* Mobile */

@media only screen and (max-width: 767px) {
  .media .media-image {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
/*================= Media Object ===============*/

.well {
  padding: 1em;
  /*TODO: Base on variable - write the rest of it*/

}
/* ==========================================================================
// ANIMATIONS
// =========================================================================*/

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
}
.collapse.in {
  height: auto;
}

/* ==========================================================================
// HELPERS
// =========================================================================*/
/*================= Clearing ===============*/
.c {
  *zoom: 1;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.c:after {
  clear: both;
}
/* ==========================================================================
// PRINT
// Adapted from the brilliant: Html5 Boilerplate (http://html5boilerplate.com/)
// =========================================================================*/

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
