---
title: Gallery
layout: content/_layouts/examples.hbs
navGalleryActive: true
---
        <div class="grid">   
            <div class="col-1">
 
                <h2>Gallery</h2> 

                <p>Click on the thumbnails below to view larger versions:</p> 

                <ul class="grid grid-thumbnails list-unstyled">
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-1" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image1" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-2" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image2" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-3" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image3" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-4" class="toggle-overlay"> 
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image4" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-5" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image5" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-6" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image6" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-7" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image7" alt="Test Image Gallery" />
                        </a>
                    </li>
                    <li class="col-1-4 col-tablet-1-3">
                        <a href="#image-8" class="toggle-overlay">
                            <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image8" alt="Test Image Gallery" />
                        </a>
                    </li>

                </ul>

            </div>
        </div> 

        <div class="overlay" id="image-1">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image1" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-2">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image2" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-3">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image3" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-4">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image4" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-5">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image5" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-6">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image6" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-7">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image7" />
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay" id="image-8">
            <div class="grid">
                <div class="col-1">
                    <div class="overlay-content center">
                        <a href="#" class="close-overlay"><i class="icon-cross"></i></a>
                        <img src="http://placehold.it/875x500&text=Image8" />
                    </div>
                </div>
            </div>
        </div>