---
title: Staddle Presents
layout: content/_layouts/examples.hbs
navHomeActive: true
---
        <div class="grid">

            <div class="col-8-12">

                <section id="typography"> 

                    <h1>Header Level 1</h1>

                    <h2>Header Level 2</h2>

                    <h3>Header Level 3</h3>

                    <h4>Header Level 4</h4>

                    <h5>Header Level 5</h5>

                    <h6>Header Level 6</h6>

                    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, <ins>ante</ins>. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien <mark>ullamcorper</mark> pharetra. Vestibulum <dfn>erat</dfn> wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum <abbr title="Rut">rutrum</abbr> orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                    <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
                               
                    <ol>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                       <li>Aliquam tincidunt mauris eu risus.</li>
                    </ol>

                    <ul>
                       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                       <li>Aliquam tincidunt mauris eu risus.</li>
                    </ul>

                    <pre><code>&lt;p&gt;Some excellent code indeed!&lt;/p&gt;</code></pre>

                </section>

                <hr/>

                <section id="modules">

                    <header>
                        <h3 class="beta">Modules</h3>
                    </header>

                    <h4>Alerts</h4>

                    <p class="alert alert-info"><strong>Info:</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>

                    <pre><code>&lt;p class=&quot;alert alert-info&quot;&gt;Info content.&lt;/p&gt;</code></pre>

                    <p class="alert alert-error"><strong>Error:</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>

                    <pre><code>&lt;p class=&quot;alert alert-error&quot;&gt;Error content.&lt;/p&gt;</code></pre>

                    <p class="alert alert-success"><strong>Success:</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>

                    <pre><code>&lt;p class=&quot;alert alert-success&quot;&gt;Success content.&lt;/p&gt;</code></pre>

                    <h4>Box</h4>

                    <div class="box">

                        <div class="box-header">
                            <h3 class="box-title">Box Header</h3>
                        </div>
                        <div class="box-body">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        </div>
                        <div class="box-footer">
                            <p>Amet quam egestas semper</p>
                        </div>

                    </div>

                    <pre><code>&lt;div class=&quot;box&quot;&gt;
    &lt;div class=&quot;box-header&quot;&gt;
        &lt;h3 class=&quot;box-title&quot;&gt;Box Header&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;box-body&quot;&gt;
        &lt;p&gt;Box content.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;box-footer&quot;&gt;
         &lt;p&gt;Box footer&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <h4>Breadcrumbs</h4>

                    <ul class="breadcrumbs">
                        <li><a href="#" class="active">Lorem ipsum</a></li> 
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                    </ul>

                    <pre><code>&lt;ul class=&quot;breadcrumbs&quot;&gt;<br/>    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Lorem ipsum&lt;/a&gt;&lt;/li&gt;<br/>    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lorem ipsum&lt;/a&gt;&lt;/li&gt;<br/>    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Lorem ipsum&lt;/a&gt;&lt;/li&gt;<br/>&lt;/ul&gt;</code></pre>

                    <h4>Buttons</h4>

                    <p>
                        <a href="#" class="button">Button</a>
                    </p> 

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Button&lt;/a&gt;</code></pre>

                    <p>
                        <button class="button">Button</button>
                    </p> 

                    <pre><code>&lt;button class=&quot;button&quot;&gt;Button&lt;/button&gt;</code></pre>

                    <p>
                        <a href="#" class="button button-alt">Button Alt</a>    
                    </p>

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button button-alt&quot;&gt;Button Alt&lt;/a&gt;</code></pre>

                    <p> 
                        <a href="#" class="button button-disabled">Button Disabled</a>  
                    </p>

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button button-disabled&quot;&gt;Button Disabled&lt;/a&gt;</code></pre>

                    <p> 
                        <a href="#" class="button button-small">Button Small</a>  
                    </p>

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button button-small&quot;&gt;Button Small&lt;/a&gt;</code></pre>

                    <p> 
                        <a href="#" class="button button-large">Button Large</a>  
                    </p>

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button button-large&quot;&gt;Button Large&lt;/a&gt;</code></pre>

                    <p>
                        <a href="#" class="button button-full">Button Full</a>  
                    </p>

                    <pre><code>&lt;a href=&quot;#&quot; class=&quot;button button-full&quot;&gt;Button Full&lt;/a&gt;</code></pre>

                    <h4>Flickr</h4> 

                    <div class="staddle-flickr margin-bottom"></div>

                    <pre><code>$(&quot;.staddle-flickr&quot;).staddleflickr({ 
    userid : '90478545@N02', 
    imagecount : 8, 
    html : '&lt;a href=&quot;&#123;&#123;link&#125;&#125;&quot;title=&quot;&#123;&#123;title&#125;&#125;&quot;&gt;&lt;img src=&quot;&#123;&#123;thumb&#125;&#125;&quot; title=&quot;&#123;&#123;title&#125;&#125;&quot; alt=&quot;&#123;&#123;image&#125;&#125;&quot;/&gt;&lt;/a&gt;' 
});</code></pre>

                    <h4>Form</h4>   

                    <form id="form-o-matic" method="post" class="form c">

                        <p class="form-row">
                            <label for="title">Title:</label>
                            <select id="title" class="input-small">
                                <option>Lord</option>
                                <option>Rev</option>
                                <option>Dude</option>
                            </select>
                        </p>
                        
                        <p class="form-row">
                            <label for="name">Name:</label>
                            <input id="name" type="text" autocomplete="on" placeholder="Name" required="required" class="input-medium"/>
                        </p>

                        <p class="form-row">
                            <label for="email">Email:</label>
                            <input id="email" type="email" autocomplete="on" placeholder="name@example.com" class="input-large" />
                        </p>

                        <p class="form-row">
                            <label for="subject">Subject:</label>
                            <input id="subject" type="text" autocomplete="on" placeholder="Subject" class="input-xlarge" />
                        </p>

                        <p class="form-row">
                            <label for="message">Message:</label>
                            <textarea id="message" rows="5" class="input-xlarge"></textarea>
                        </p>

                        <p class="form-row">
                            <button type="submit" id="submit">Submit</button>
                        </p>

                    </form> 

                    <pre><code>&lt;form id=&quot;form-o-matic&quot; method=&quot;post&quot; class=&quot;form c&quot;&gt;

    &lt;p class=&quot;form-row&quot;&gt;
        &lt;label for=&quot;title&quot;&gt;Title:&lt;/label&gt;
        &lt;select id=&quot;title&quot; class=&quot;input-small&quot;&gt;
            &lt;option&gt;Lord&lt;/option&gt;
            &lt;option&gt;Rev&lt;/option&gt;
            &lt;option&gt;Dude&lt;/option&gt;
        &lt;/select&gt;
    &lt;/p&gt;
    
    &lt;p class=&quot;form-row&quot;&gt;
        &lt;label for=&quot;name&quot;&gt;Name:&lt;/label&gt;
        &lt;input id=&quot;name&quot; type=&quot;text&quot; autocomplete=&quot;on&quot; placeholder=&quot;Name&quot; required=&quot;required&quot; class=&quot;input-medium&quot;/&gt;
    &lt;/p&gt;

    &lt;p class=&quot;form-row&quot;&gt;
        &lt;label for=&quot;email&quot;&gt;Email:&lt;/label&gt;
        &lt;input id=&quot;email&quot; type=&quot;email&quot; autocomplete=&quot;on&quot; placeholder=&quot;name@example.com&quot; class=&quot;input-large&quot; /&gt;
    &lt;/p&gt;

    &lt;p class=&quot;form-row&quot;&gt;
        &lt;label for=&quot;subject&quot;&gt;Subject:&lt;/label&gt;
        &lt;input id=&quot;subject&quot; type=&quot;text&quot; autocomplete=&quot;on&quot; placeholder=&quot;subject&quot; class=&quot;input-xlarge&quot; /&gt;
    &lt;/p&gt;

    &lt;p class=&quot;form-row&quot;&gt;
        &lt;label for=&quot;message&quot;&gt;Message:&lt;/label&gt;
        &lt;textarea id=&quot;message&quot; rows=&quot;5&quot; class=&quot;input-xlarge&quot;&gt;&lt;/textarea&gt;
    &lt;/p&gt;

    &lt;p class=&quot;form-row&quot;&gt;
        &lt;button type=&quot;submit&quot; id=&quot;submit&quot;&gt;Submit&lt;/button&gt;
    &lt;/p&gt;

&lt;/form&gt; </code></pre>

                    <h4>Icons (unicode)</h4>

                    <i class="icon-menu"></i>
                    <i class="icon-tel"></i>
                    <i class="icon-email"></i>
                    <i class="icon-tick"></i>
                    <i class="icon-cross"></i>
                    <i class="icon-heart"></i>
                    <i class="icon-star"></i>
                    <i class="icon-arrow-up"></i>
                    <i class="icon-arrow-right"></i>
                    <i class="icon-arrow-down"></i>
                    <i class="icon-arrow-left"></i>
                    <i class="icon-add"></i>
                    <i class="icon-edit"></i>
                    <i class="icon-pound"></i>
                    <i class="icon-dollar"></i>

                    <h4>Images</h4>

                    <div class="c margin-bottom">
                        <div class="col-1-3">
                            <img class="image-rounded" src="http://placehold.it/200x200&text=Rounded" alt="Rounded" />
                        </div>

                        <div class="col-1-3">
                            <img class="image-circle" src="http://placehold.it/200x200&text=Circle" alt="Circle" />
                        </div>

                        <div class="col-1-3">
                            <img class="image-bordered" src="http://placehold.it/200x200&text=Bordered" alt="Bordered" />
                        </div>
                    </div>

                    <pre><code>&lt;img class=&quot;image-rounded&quot; src=&quot;http://placehold.it/200x200&amp;text=Rounded&quot; alt=&quot;Rounded&quot; /&gt;<br/><br/>&lt;img class=&quot;image-circle&quot; src=&quot;http://placehold.it/200x200&amp;text=Circle&quot; alt=&quot;Circle&quot; /&gt;<br/><br/>&lt;img class=&quot;image-bordered&quot; src=&quot;http://placehold.it/200x200&amp;text=Bordered&quot; alt=&quot;Bordered&quot; /&gt;</code></pre>

                    <h4>Map</h4>

                    <div id="map-canvas" class="map"></div>

                    <pre><code>&lt;div id=&quot;map-canvas&quot; class=&quot;map&quot;&gt;&lt;/div&gt;</code></pre> 

                    <h4>Media</h4>

                    <div class="media">
                        <img class="media-image" src="http://placehold.it/200x200&text=Media" alt="Test Image" />
                        <p class="media-content"><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                    </div>

                    <pre><code>&lt;div class=&quot;media&quot;&gt;
    &lt;img class=&quot;media-image&quot; src=&quot;http://placehold.it/200x200&amp;text=Media&quot; alt=&quot;Test Image&quot; /&gt;
    &lt;p class=&quot;media-content&quot;&gt;&lt;strong&gt;Media content.&lt;/p&gt;
&lt;/div&gt;</code></pre>

                    <h4>Navigation</h4>

                    <h6>Horizontal</h6>

                    <nav class="margin-bottom">
                        <ul class="nav">
                            <li><a href="#" class="active">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </nav>

                    <pre><code>&lt;ul class=&quot;nav&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

                    <h6>Vertical</h6>

                    <nav class="margin-bottom">
                        <ul class="nav nav-vertical">
                            <li><a href="#" class="active">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </nav>

                    <pre><code>&lt;ul class=&quot;nav nav-vertical&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

                    <h4>Pagination</h4>

                    <ul class="pagination">
                        <li><a href="#" class="active">1</a></li> 
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>

                    <pre><code>&lt;ul class=&quot;pagination&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;1&lt;/a&gt;&lt;/li&gt; 
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

                    <h4>Well</h4>

                    <div class="well">
                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                    </div>  

                    <pre><code>&lt;div class=&quot;well&quot;&gt;
    &lt;p&gt;Content.&lt;/p&gt;
&lt;/div&gt;</code></pre>

                </section>

            </div>

            <div class="col-4-12">
                <h2>Header Level 2</h2>
       
                <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            </div>
        </div>