<% include includes/header %>

        <div class="grid">   
 
            <h2>Page Not Found</h2>   
            <p>Unfortunately the page that you requested could not be found. Please try one of the following:</p>

            <ul>
                <li>Go back to the previous page.</li>
                <li>Visit the <a href="/">homepage</a>.</li>
                <li>Use the navigation at the top of the page.</li>
            </ul>

        </div>
        
<% include includes/footer %>