<% include includes/header %>

        <!-- Styles for example only and should definitely not be here :p -->
        <style>

            .grid [class*='col-'] {      
                margin-bottom: 20px;
            }

            .grid [class*='col-'] p {    
                padding: 20px;
                background-color: grey; 
                text-align: center;
                margin-bottom: 0;
            }

            .grid-padded {
                background-color: #DFDFDF;
            }

            .grid-padded [class*='col-'] {
                margin-bottom: 0;
            }

        </style>

        <div class="grid">
            <h2>Standard Grid</h2>
        </div>

        <div class="grid">
            <div class="col-1"><p>1</p></div>
        </div>    

        <div class="grid">
            <div class="col-1-2 col-mobile-1-2"><p>1/2</p></div>
            <div class="col-1-2 col-mobile-1-2"><p>1/2</p></div>
        </div>

        <div class="grid">
            <div class="col-1-3 col-tablet-1-2 col-mobile-1-2"><p>1/3</p></div>
            <div class="col-1-3 col-tablet-1-2 col-mobile-1-2 col-mobile-last col-tablet-last"><p>1/3</p></div>
            <div class="col-1-3 col-tablet-1"><p>1/3</p></div>
        </div>

        <div class="grid">
            <div class="col-1-4 col-tablet-1-2"><p>1/4</p></div>
            <div class="col-1-4 col-tablet-1-2 col-tablet-last"><p>1/4</p></div>
            <div class="col-1-4 col-tablet-1-2"><p>1/4</p></div>
            <div class="col-1-4 col-tablet-1-2 col-tablet-last"><p>1/4</p></div>
        </div>

        <div class="grid">
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4 col-tablet-last"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
        </div>

        <div class="grid">
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6 col-tablet-last"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>

        </div>

        <div class="grid">
            <h2>Padded Grid</h2>
        </div>

        <div class="grid grid-padded margin-bottom">
            <div class="col-1-2"><p>1</p></div>
            <div class="col-1-2"><p>1</p></div>
        </div>    

        <div class="grid grid-padded margin-bottom">
            <div class="col-1-2 col-mobile-1-2"><p>1/2</p></div>
            <div class="col-1-2 col-mobile-1-2"><p>1/2</p></div>
        </div>

        <div class="grid grid-padded margin-bottom"> 
            <div class="col-1-3 col-tablet-1-2 col-mobile-1-2"><p>1/3</p></div>
            <div class="col-1-3 col-tablet-1-2 col-mobile-1-2 col-mobile-last col-tablet-last"><p>1/3</p></div>
            <div class="col-1-3 col-tablet-1"><p>1/3</p></div>
        </div>

        <div class="grid grid-padded margin-bottom">
            <div class="col-1-4 col-tablet-1-2"><p>1/4</p></div>
            <div class="col-1-4 col-tablet-1-2 col-tablet-last"><p>1/4</p></div>
            <div class="row-tablet-last">
                <div class="col-1-4 col-tablet-1-2"><p>1/4</p></div>
                <div class="col-1-4 col-tablet-1-2 col-tablet-last"><p>1/4</p></div>
            </div>
        </div>

        <div class="grid grid-padded margin-bottom">
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            <div class="col-1-8 col-tablet-1-4 col-tablet-last"><p>1/8</p></div>
            <div class="row-tablet-last c">
                <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
                <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
                <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
                <div class="col-1-8 col-tablet-1-4"><p>1/8</p></div>
            </div>
        </div>
        </div>

        <div class="grid grid-padded margin-bottom">
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            <div class="col-1-12 col-tablet-1-6 col-tablet-last"><p>1/12</p></div>
            <div class="row-tablet-last">
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
                <div class="col-1-12 col-tablet-1-6"><p>1/12</p></div>
            </div>

        </div>

        <div class="grid">
            <h2 class="margin-top">Thumbnail Grid</h2>
        </div>

        <ul class="grid grid-thumbnails list-unstyled">
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image1">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image1" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image2">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image2" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image3">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image3" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image4"> 
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image4" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image5">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image5" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image6">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image6" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image7">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image7" alt="Test Image Gallery" />
                </a>
            </li>
            <li class="col-1-4 col-tablet-1-3">
                <a href="http://placehold.it/500x500&text=Image8">
                    <img class="image-circle thumbnail" src="http://placehold.it/225x225&text=Image8" alt="Test Image Gallery" />
                </a>
            </li>

        </ul>
        
<% include includes/footer %>