<!doctype html> 
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie8" lang="en"> <![endif]--> 
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]--> 
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head> 
    <meta charset="utf-8"> 
 
    <title>2 Column &ndash; Boilerplate Template</title> 
 
    <meta name="description" content=""> 
    <meta name="keywords" content=""> 
    <meta name="author" content=""> 
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="HandheldFriendly" content="True"> 
    <meta name="MobileOptimized" content="320"> 
 
    <link rel="stylesheet" href="../css/main.css"> 
 
    <!-- For retina-display iPads --> 
    <!-- <link href="../images/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> --> 
    <!-- For retina-display iPhones --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> --> 
    <!-- For iPad 1 --> 
    <!-- <link href="../images/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> --> 
    <!-- For iPhone 3G, iPod Touch and Android --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> --> 
    <!-- For Nokia --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="shortcut icon"/> --> 
    <!-- For everything else --> 
    <!-- <link href="../images/icons/favicon.png" rel="shortcut icon" type="image/png"/> --> 
    <!-- <link href="../images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> --> 
 
    <!-- IE8 and below fallbacks --> 
    <!--[if lte IE 8]> 
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
    <script type="text/javascript" src="../js/libs/respond/respond.min.js"></script> 
    <![endif]--> 
 
</head> 
 
<body id="sitename" data-controller="examples"> 
 
    <div class="wrapper-all"> 
 
        <header class="wrapper-header" role="banner"> 
         
            <div class="grid"> 
 
                <h1 class="title-primary margin-bottom">2 Column</h1> 
 
                <nav> 
                    <ul class="nav"> 
                        <li><a href="index.html" class="">Home</a></li> 
                        <li><a href="2column.html" class="active">2 Column</a></li> 
                        <li><a href="3column.html" class="">3 Column</a></li> 
                        <li><a href="grid.html" class="">Grid</a></li> 
                        <li><a href="404.html" class="">404</a></li> 
                        <li><a href="news.html" class="">News</a></li> 
                        <li><a href="contact.html" class="">Contact</a></li> 
                    </ul> 
                </nav> 
 
            </div> 
 
        </header><!-- .wrapper-header --> 
 
        <main class="primary wrapper-primary" role="main"> 
 
        <!-- Template Start --> 
 
        <div class="grid">    
 
            <div class="col-8-12">     
                <h2>Main Content</h2>    
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</strong></p> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p> 
            </div> 
 
            <div class="col-4-12"> 
                <h2>Sidebar</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p> 
            </div> 
 
        </div> 
         
        <!-- Template End --> 
 
        </main><!-- .wrapper-primary --> 
 
        <footer class="wrapper-footer" role="contentinfo"> 
 
            <div class="grid"> 
                <div class="span-12"> 
 
                    <p><small>&copy; Copyright Information</small></p> 
                 
                </div>  
            </div> 
 
        </footer><!-- .wrapper-footer --> 
 
    </div><!-- .wrapper-all --> 
 
    <!-- JavaScript --> 
    <script data-main="../js/main" src="../js/libs/requirejs/require.js"></script> 
    <!-- Uncomment for production --> 
    <!-- <script src="../js/main.min.js"></script>--> 
 
    <!--[if lte IE 8]> 
    <script type="text/javascript" src="../js/libs/selectivizr/selectivizr.js"></script> 
    <![endif]--> 
 
    <!-- Google Analytics --> 
    <!-- <script> 
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; 
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; 
        g.src='//www.google-analytics.com/ga.js'; 
        s.parentNode.insertBefore(g,s)}(document,'script')); 
    </script> --> 
 
</body> 
</html>