<!doctype html> 
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie8" lang="en"> <![endif]--> 
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie8" lang="en"> <![endif]--> 
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
 
    <title>Contact &ndash; Boilerplate Template</title> 
 
    <meta name="description" content=""> 
    <meta name="keywords" content=""> 
    <meta name="author" content=""> 
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="HandheldFriendly" content="True"> 
    <meta name="MobileOptimized" content="320"> 
    <meta http-equiv="cleartype" content="on"> 
 
    <link rel="stylesheet" href="../css/main.css"> 
 
    <!-- ICONS --> 
 
    <!-- For retina-display iPads --> 
    <!-- <link href="../images/icons/retina_ipad_home.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/> --> 
    <!-- For retina-display iPhones --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/> --> 
    <!-- For iPad 1 --> 
    <!-- <link href="../images/icons/ipad_home.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/> --> 
    <!-- For iPhone 3G, iPod Touch and Android --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="apple-touch-icon-precomposed" type="image/png"/> --> 
    <!-- For Nokia --> 
    <!-- <link href="../images/icons/iphone_home.png" rel="shortcut icon"/> --> 
    <!-- For everything else --> 
    <!-- <link href="../images/icons/favicon.png" rel="shortcut icon" type="image/png"/> --> 
    <!-- <link href="../images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/> --> 
 
    <!-- Fallbacks --> 
    <!--[if lte IE 8]> 
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
    <script type="text/javascript" src="../js/libs/respond/respond.min.js"></script> 
    <![endif]--> 
 
</head> 
 
<body id="sitename" data-controller="examples"> 
 
    <div class="wrapper-all"> 
 
        <header class="wrapper-header" role="banner"> 
         
            <div class="grid"> 
 
                <h1 class="title-primary margin-bottom">Contact</h1> 
 
                <nav> 
                    <ul class="nav"> 
                        <li><a href="index.html" class="">Home</a></li> 
                        <li><a href="2column.html" class="">2 Column</a></li> 
                        <li><a href="3column.html" class="">3 Column</a></li> 
                        <li><a href="grid.html" class="">Grid</a></li> 
                        <li><a href="news.html" class="">News</a></li> 
                        <li><a href="contact.html" class="active">Contact</a></li> 
                    </ul> 
                </nav> 
 
            </div> 
 
        </header> 
 
        <main class="primary wrapper-primary" role="main"> 
 
        <!-- TEMPLATE START --> 
 
        <div class="grid"> 
 
            <div class="col-8-12"> 
 
                <h2>Contact Us</h2>  
 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</p> 
 
                <form id="form-o-matic" method="post" class="form c"> 
                     
                    <p class="form-row"> 
                        <label for="name">Name:</label> 
                        <input id="name" type="text" autocomplete="on" placeholder="Name" required="required" class="input-large"/> 
                    </p> 
 
                    <p class="form-row"> 
                        <label for="email">Email:</label> 
                        <input id="email" type="email" autocomplete="on" placeholder="name@example.com" class="input-large" /> 
                    </p> 
 
                    <p class="form-row"> 
                        <label for="subject">Subject:</label> 
                        <input id="subject" type="text" autocomplete="on" placeholder="Subject" class="input-xlarge" /> 
                    </p> 
 
                    <p class="form-row"> 
                        <label for="message">Comment:</label> 
                        <textarea id="message" rows="5" class="input-xlarge"></textarea> 
                    </p> 
 
                    <p class="form-row"> 
                        <button type="submit" id="submit">Submit</button> 
                    </p> 
 
                </form>  
 
            </div> 
 
            <div class="col-4-12"> 
                <h2>Map</h2> 
                <div id="map-canvas" class="map map-small"></div> 
            </div> 
 
        </div> 
         
        <!-- TEMPLATE END --> 
 
        </main> 
 
        <footer class="wrapper-footer" role="contentinfo"> 
 
            <div class="grid"> 
                <div class="span-12"> 
 
                    <p><small>&copy; Copyright Information</small></p> 
                 
                </div>  
            </div> 
 
        </footer> 
 
    </div><!-- End .wrapper-all --> 
 
    <!-- JavaScript --> 
    <script data-main="../js/main" src="../js/libs/requirejs/require.js"></script> 
    <!-- Uncomment for production --> 
    <!-- <script src="../js/main.min.js"></script>--> 
 
    <!--[if lte IE 8]> 
    <script type="text/javascript" src="../js/libs/selectivizr/selectivizr.js"></script> 
    <![endif]--> 
 
    <!-- Google Analytics --> 
    <!-- <script> 
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; 
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; 
        g.src='//www.google-analytics.com/ga.js'; 
        s.parentNode.insertBefore(g,s)}(document,'script')); 
    </script> --> 
 
</body> 
</html>