---
title: Welcome
---

        <div class="grid margin-bottom">
            <div class="col-1-3"> 
                <h3>LESS</h3>
                <p>Staddle includes base styles, CSS3 mixins and helpers to help you get started quickly.</p>
            </div>
            <div class="col-1-3"> 
                <h3>JavaScript</h3>
                <p>Staddle uses RequireJs for loading modules and using Grunt lints and minifys all JavaScripts into a single file.</p>
            </div>
            <div class="col-1-3"> 
                <h3>Grunt Tools</h3>
                <p>Used to compile LESS, JSHint, minifying RequireJS, optimising images, LiveReload, starting a development server and generating static websites.</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-1-3"> 
                <h3>Static Site Generator</h3>
                <p>Staddle uses Assemble and Grunt to generate static websites. This compiled and optimised website can be put live on any server.</p>
            </div>
            <div class="col-1-3"> 
                <h3>Responsive Grid</h3>
                <p>Staddles includes a simple to use and responsive grid, that includes breakpoints for tablet and mobile.</p>  
            </div>
            <div class="col-1-3"> 
                <h3>IE7+ support</h3>
                <p>IE7 support will be dropped when clients stop demanding it.</p>
            </div>
        </div>

 {{!                <div class="grid margin-bottom">
            <div class="col-1"> 
                <h2>Quick Start</h2>
                <p>Get the latest version of Staddle:</p>
                <pre><code>git clone git@github.com:mattbegent/staddle.git</code></pre>
                <p>Or:</p>
                <pre><code>git clone git@github.com:mattbegent/staddle.git</code></pre>
                <p>Install node packages</p>
                <pre><code>cd brilliantwebsitedirectory<br/>npm install</code></pre>
                <p>Run Grunt taslks:</p>
                <pre><code>Grunt</code></pre>
            </div>
        </div> }}