---
title: Welcome
---

        <div class="grid margin-bottom">
            <div class="col-1-3"> 
                <h3>LESS</h3>
                <p>Staddle includes base styles, CSS3 mixins and helpers to help you get started quickly.</p>
            </div>
            <div class="col-1-3"> 
                <h3>JavaScript</h3>
                <p>Staddle uses RequireJs for loading modules and uses Grunt to lint and minify all JavaScript files into a single file.</p>
            </div>
            <div class="col-1-3"> 
                <h3>Grunt Tools</h3>
                <p>Grunt is used to compile LESS, JSHint, minifying RequireJS, optimising images, LiveReload, starting a development server and generating static websites.</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-1-3"> 
                <h3>Static Site Generator</h3>
                <p>Staddle uses Assemble and Grunt to generate static websites. This compiled and optimised website can be put live on any server.</p>
            </div>
            <div class="col-1-3"> 
                <h3>Responsive Grid</h3>
                <p>Staddles includes a simple to use and responsive grid, which includes breakpoints for tablet and mobile.</p>  
            </div>
            <div class="col-1-3"> 
                <h3>IE7+ support</h3>
                <p>IE7 support will be dropped when clients stop demanding it.</p>
            </div>
        </div>