---
title: Home
---
        <div class="grid">

            <h2>Main Content</h2>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            <p>For help getting started with <a href="https://github.com/mattbegent/boilerplate" rel="external" target="_blank">Boilerplate</a>, see README.md and take a look at the <a href="examples/index.html">example templates</a>.</p>

        </div>